---
title: "Welcome"
---

<div class="jumbotron jumbotron-fluid m-0 p-3 py-md-5 px-md-0 bg-secondary content__jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 px-0">
                <img class="d-block w-75" src="{{assets}}/img/mail-love.svg" alt="trgtr">
            </div>
            <div class="col-md-6 px-0">
                <h1 class="display-2 font-weight-bold">Find the <mark class="p-0 mark-primary mark-lg">right contacts</mark></h1>
                <p class="lead mt-5 mb-3">Find the right email and other professional contact details based on professions, industry or location
                </p>
                <a class="btn btn-primary btn-raised btn-xl" href="#" role="button">CLICK HERE TO SIGN UP NOW!</a>
                <p></p>
                <small class="text-muted d-flex align-items-center"><span class="badge badge-info pointed arrow-right mr-2"><i class="icon-bell mr-0"></i></span> Avail free monthly access upto 250 contact details</small>
            </div>
        </div>
    </div>
</div>

<!-- Accurate -->

<div class="container accurate bg-white p-5 mb-5">
    <div class="row p-md-5">
        <div class="col-md-12">
            <h1 class="font-weight-bold text-center pb-2 text-info">Accurate and Affordable Professional Contacts</h1>
            <div class="row text-center my-5">
                <div class="col-md-6">
                    <img src="{{assets}}/img/pro-email-address.png" class="img-fluid mb-4" alt="trgtr" >
                    <h3 class="font-weight-bold">Professional Email Address</h3>
                    <p class="lead my-3">Find the right contact details of 120 million+ professionals from across the world</p>
                </div>
                <div class="col-md-6">
                    <img src="{{assets}}/img/rl-email-validation.png" class="img-fluid mb-4" alt="trgtr" >
                    <h3 class="font-weight-bold">Real-time Email Validation</h3>
                    <p class="lead my-3">Ensure up-to-date email addresses by validating your selection in real-time</p>
                </div>
            </div>
            <p class="lead text-primary text-center mt-5">1000+ customers including Sales Representatives, Marketers, Startup Founders,
                Recruiters and Established Companies</p>
        </div>
    </div>
</div>

<!-- /Accurate -->

<!-- More features -->

<div class="container more-features bg-white p-5 my-5">
    <div class="row p-md-5">
        <div class="col-md-12">
            <h1 class="display-3 font-weight-bold text-center text-info">More features!</h1>
            <h3 class="font-weight-bold text-center">We've got you covered.</h3>
            <div class="row text-center my-5">
                <div class="col-md-4">
                    <img src="{{assets}}/img/crm.png" class="img-fluid mb-4" alt="trgtr" >
                    <h5 class="font-weight-bold">CRM Integration</h5>
                    <p class="my-3">Integrate your selected list to your internal CRM</p>
                </div>
                <div class="col-md-4">
                    <img src="{{assets}}/img/browser-extension.png" class="img-fluid mb-4" alt="trgtr" >
                    <h5 class="font-weight-bold">Browser Extension</h5>
                    <p class="my-3">Add trgtr Chrome Extension to find the prospects from any website you visit</p>
                </div>
                <div class="col-md-4">
                    <img src="{{assets}}/img/free-added-details.png" class="img-fluid mb-4" alt="trgtr" >
                    <h5 class="font-weight-bold">Free Added Details</h5>
                    <p class="my-3">Though you pay only for the email, phone numbers and social handles are added for all available profiles</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /More features -->

<!-- Search by -->

<div class="container search-by bg-white p-5 my-5">
    <div class="row p-md-5">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-6 d-md-flex flex-column  align-items-end">
                    <h4 class="font-weight-bold text-info m-0 p-0">Search by</h4>
                    <h1 class="display-4 font-weight-bold text-secondary">Domain</h1>
                </div>
                <div class="col-md-6">
                    <h5 class="font-weight-bold">Find out the email address from a domain</h5>
                    <p class="lead">Domain Search enables you to find the name and email address of
                        anyone who is working in that respective company. With 120+ million publicly available professional email addresses indexed and verified, it is a few click away the right prospect.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6 d-md-flex flex-column  align-items-end">
                    <h4 class="font-weight-bold text-info m-0 p-0">Search by</h4>
                    <h1 class="display-4 font-weight-bold text-secondary">Industry</h1>
                </div>
                <div class="col-md-6">
                    <h5 class="font-weight-bold">Find the contact details of professionals based on their industry and job position</h5>
                    <p class="lead">With Industry Search you can find the name and email address of a professional depending on their industry and professional role. Classified as per the International Standard Classification of Occupations you would be able to find the right prospects from any industry.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6 d-md-flex flex-column  align-items-end">
                    <h4 class="font-weight-bold text-info m-0 p-0">Search by</h4>
                    <h1 class="display-4 font-weight-bold text-secondary">Location</h1>
                </div>
                <div class="col-md-6">
                    <h5 class="font-weight-bold">Find the contact details of professionals on the basis of their location</h5>
                    <p class="lead">Location Search enables you to find the name and email address of a professional at a particular country or region. Combined with other filters, this can be very potent tool to identify location based prospects anywhere from the world.</p>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- /Search by -->


<!-- Right target -->

<div class="container right-target bg-white my-5">
    <div class="row">
        <div class="col-md-6 bg-secondary d-flex align-items-center justify-content-center p-5">
            <img src="{{assets}}/img/right_target.png" class="img-fluid mb-4" alt="trgtr" >
        </div>
        <div class="col-md-6 bg-primary p-5">
            <h5 class="display-3 font-weight-bold text-secondary">Find the <br> <mark class="p-0 mark-secondary">right targets.</mark></h5>
            <h1 class="font-weight-bold text-secondary mt-5">Refined Search</h1>
            <p class="lead text-white">Effective filters to differentiate generic emails
                addresses (role based emails like contact@ or
                support@) and individual professional emails
                (like adam@)</p>
        </div>
    </div>
</div>

<!-- /Right target -->

<!-- Plan -->

<div class="container plan bg-white p-5 my-5">
    <div class="row p-md-5">
        <div class="col-md-12 ">
            <h1 class="display-4 font-weight-bold text-center text-info">Choose a plan!</h1>
            <h4 class="font-weight-bold text-center">No bullshit pricing: with annual and monthly plans</h4>


            <div class="row text-center my-5">
                <div class="col-md-12">asdasd</div>
            </div>


            <div class="row text-center">
                <div class="col-md-12">
                    <div class="btn-group-vertical btn-block" role="group" aria-label="Button group with nested dropdown">
                        <a class="btn btn-info btn-raised btn-xl w-50 m-auto"  data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">COMPARE PLANS</a>
                        <div class="collapse multi-collapse my-5 w-100" id="multiCollapseExample1">asdas</div>
                        <a class="btn btn-primary btn-raised btn-xl w-50 m-auto" href="register.html" role="button">SIGN UP FOR FREE!</a>
                    </div>
                </div>
            </div>

            <p class="lead mt-5 text-center">No Credit Card Required!</p>

        </div>
    </div>
</div>

<!-- /Plan -->


<!-- Questions -->

<div class="container accurate bg-white p-5 my-5">
    <div class="row p-md-5">
        <div class="col-md-12 ">
            <h1 class="font-weight-bold text-center text-info">Questions, Comments, Concerns, Ideas?</h1>
            <h4 class="text-center">We want to hear, and we're here to help. <a class="text-info" href="#" role="button"><mark  class="p-0 mark-info mark-sm">Drop us a line.</mark></a></h4>
        </div>
    </div>
</div>

<!-- /Questions -->


